.nav-contain {
	background-color: #888;
	opacity: 0.8;

	.logo {
		a {
			font-size: 1rem;
		}
	}

	.nav-items {

		li {
			list-style: none;
			font-weight: 800;

			text-transform: uppercase;
		}
	}

	a {
		color: #fff;
		font-size: 12px;
		font-weight: 800;

		line-height: 2.5rem;
		
		letter-spacing: 1px;
		background-color: transparent;
	}

	a:hover {
		opacity: 0.8;
		color: #222;
		text-decoration: none;
	}
}