body {
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;

	background-image: url("../image/container-bg.png");
	background-repeat: repeat;
	background-size: contain;
	background-color: #e1e1e1;
}