body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.container {
	flex: 1;

	background-image: url("../image/container-bg.png");
	background-repeat: repeat;
	background-color: #464646;
}