footer {
	background-color: #000;

	p {
		font-size: 16px;
		text-align: center;
	}

	.simply-links {
		text-align: center;

		a{
			font-size: 1.8rem;
			color:#fff;
		}
		
		a:hover{
			color: #aaa;
		}
	}
}