.blog-tag-list {
	div {
		padding: 12px;
	}
	a {
		font-size: 16px;
		color: #888;
		border: 1px solid #888;
		border-radius: 12px;
		padding: 2px 8px;
	}
	a:hover {
		color: #0085a1;
		border-color: #0085a1;
		text-decoration: none;
	}
}