.post-tag-container a {
	padding: 2px 10px;
	border: 1px solid #888;
	border-radius: 12px;

	font-size: 16px;
	color: #888;
}

.post-tag-container a:hover{
	color: #0085a1;
	border-color: #0085a1;
	text-decoration: none;
}

.post-list-category {
	padding: 0 16px;
}