.blog-aside {
	div, ul {
		padding: 12px;
	}
	ul, li {
		margin: 0;
	}
	li {
		list-style: none;
		padding: 0 12px;
	}
	h1 a {
		color: #888;
	}
	h2 {
		margin: 0;
		a {
			font-size: 0.8rem;
		}
	}
	.category-box a, 
	.author-box a,
	.archive-box a{
		display: block;

		font-size: 16px;
		padding: 2px 8px;
	}
	a:hover {
		color: #0085a1;
		border-color: #0085a1;
		text-decoration: none;
	}
	.category-box a:hover, 
	.author-box a:hover,
	.archive-box a:hover {
		color: #259;
		text-decoration: underline;
	}
	.post-count{
		color: #888;
	}
	.archive-mounth {
		padding: 6px 12px;
	}
}