.website-header {
	width: 100%;

	background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  background-size: cover;
    

	padding: 6.2rem 0 1rem;
	letter-spacing: 1px;

	h1 {
		text-align: center;
		margin: 0;
		color: #fff;
	}

	.header-cutline {
		width: 96px;
		height: 4px;
		border: none;
		background-color: #fff;
	}

	.header-description {
		text-align: center;
	}
}