body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.container {
	flex: 1;
	min-height: 1600px;
	background-image: url("../image/blog/blog-container-bg.png");
	background-repeat: repeat;
	background-color: #464646;
}