{% if page.nocomments %}
{% else %}
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: location.href,
    owner: 'AidanDai',
    repo: 'AidanDai.github.io',
    oauth: {
      client_id: 'c4762f848a8c136ad47e',
      client_secret: '58fb293c5c46abf3925153e848ca78f27ea6c66e',
    },
  })
  gitment.render('container')
</script>
{% endif %}
