<!-- Footer -->
<footer>
	<nav class="simply-links">
	  {% if site.github_username %} 
	    <a href="https://github.com/{{ site.github_username }}" alt="Github"><i class="fa fa-github" aria-hidden="true"></i></a> 
	  {% endif %} 
	  {% if site.weibo_username %} 
	     <a href="https://weibo.com/{{ site.weibo_username }}" alt="Github"><i class="fa fa-weibo" aria-hidden="true"></i></a> 
	  {% endif %}
	</nav>
  <p class="copyright">Copyright &copy;  Aidan {{ site.time | date: '%Y' }}</p>
	<p class="power">Theme by <a href="https://github.com/AidanDai/aidan-pw">aidan-pw</a></p>  
</footer>
<!-- Footer -->

<script type="text/javascript" src="{{ '/asset/vendor/jquery-3.1.1/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/asset/javascript/index.js' | prepend: site.baseurl }}"></script>
