<!-- Footer -->
<footer>
	<nav class="simply-links">
	  {% if site.github_username %} 
	    <a href="https://github.com/{{ site.github_username }}" alt="Github"><i class="fa fa-github" aria-hidden="true"></i></a> 
	  {% endif %} 
	  {% if site.twitter_username %}
	     <a href="https://twitter.com/{{ site.twitter_username }}" alt="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		{% endif %}
		{% if site.weibo_username %}
			<a href="https://weibo.com/{{ site.weibo_username }}" alt="weibo">
				<i class="fa fa-weibo" aria-hidden="true"></i>
			</a>
		{% endif %}
	</nav>
  <p class="copyright">冀ICP备16007364号-1 Copyright &copy;  Aidan {{ site.time | date: '%Y' }}</p>
</footer>
<!-- Footer -->

<script type="text/javascript" src="{{ '/asset/javascript/index.js' | prepend: site.baseurl }}"></script>
