<title>{% if page.title  %}{{ page.title }} - {{ site.description }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="{% if page.keyword %}{{ page.keyword | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.keyword }}{% endif %}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Aidan Dai, aidandai@126.com, http://www.aidandai.com/">

<meta property="og:url" content="{{ site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="/assets/images/aidan.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="400">
<meta property="og:image:height" content="400">

<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"/>

<link rel="stylesheet" href="{{ '/asset/vendor/normalize.css' | prepend: site.baseurl }}" type="text/css"/>
<link rel="stylesheet" href="{{ '/asset/vendor/font-awesome-4.6.3/css/font-awesome.min.css' | prepend: site.baseurl }}" type="text/css"/>
<link rel="stylesheet" href="{{ '/asset/style/index.css' | prepend: site.baseurl }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<base target="_blank">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->