<!-- Navigation -->
<nav class="nav-contain nav-fixed-top">
    <div class="logo">
        <a target="_self" href="{{ root_url }}/">{{site.author}}</a>
    </div>
    <ul class="nav-items">
        <li><a target="_self" href="{{ root_url }}/">HOME</a></li>    
        <li><a target="_self" href="{{ root_url }}/blog/">BLOG</a></li>
       <!--  <li><a target="_self" href="{{ root_url }}/archive/">ARCHIVE</a></li>
       <li><a target="_self" href="{{ root_url }}/category/">CATEGORY</a></li>
       <li><a target="_self" href="{{ root_url }}/tag/">TAG</a></li> -->
        <li><a target="_self" href="{{ root_url }}/code/">CODE</a></li>
        <li><a target="_self" href="{{ root_url }}/collection/">COLLECTION</a></li>
        <li><a target="_self" href="{{ root_url }}/about/">ABOUT</a></li>
        <li>
            <a target="_self" href="{{ root_url }}/search/" class="nav-search" alt="search">
                <span class="nav-search"></span>
            </a>
        </li>
    </ul>
    <div class="nav-toggle">
        <button type="button">toggle navigation</button>
    </div>
</nav>
<!-- Navigation -->