<!-- Navigation -->
<nav class="nav-contain nav-fixed-top">
    <div class="logo">
        <a target="_self" href="{{ root_url }}/">{{site.author}}</a>
    </div>
    <ul class="nav-items">
        <li><a target="_self" href="{{ root_url }}/blog/">blog</a></li>
        <li><a target="_self" href="{{ root_url }}/code/">code</a></li>
        <li><a target="_self" href="{{ root_url }}/like/">like</a></li>
        <li><a target="_self" href="{{ root_url }}/about/">about</a></li>
        <li><a target="_self" href="{{ root_url }}/wiki/">wiki</a></li>
    </ul>
</nav>
<!-- Navigation -->