<h2>I am</h2>
<ul class="sns"> 
  {% if site.github_username %} 
    <li class="sns-item sns-github">
      <a href="https://github.com/{{ site.github_username }}" alt="Github"></a> 
    </li>
  {% endif %} 
  {% if site.weibo_username %} 
    <li class="sns-item sns-weibo">
      <a href="https://weibo.com/{{ site.weibo_username }}" alt="Github"></a> 
    </li>
  {% endif %}
  {% if site.zhihu_username %} 
    <li class="sns-item sns-zhihu">
      <a href="https://zhihu.com/{{ site.zhihu_username }}" alt="Github"></a> 
    </li>
  {% endif %}
  {% if site.segmentfault_username %} 
    <li class="sns-item sns-segmentfault">
      <a href="https://segmentfault.com/{{ site.segmentfault_username }}" alt="segmentfault"></a> 
    </li>
  {% endif %}
  {% if site.twitter_username %} 
    <li class="sns-item sns-twitter">
      <a href="https://twitter.com/{{ site.twitter_username }}" alt="twitter"></a> 
    </li>
  {% endif %}
</ul> 