#code-main {
	box-sizing: border-box;
	width: 100%;
	min-width: 300px;
	margin: 0;
	padding: 1.2rem 1rem;
	background-color: #fff;

	position: relative;
	height: 1200px;

	li {
		display: block;
		list-style: none;
		width: 200px;

		position: absolute;
	}
}

@media screen and (min-width: 1024px) {
	.code-main {
		width: 1024px;
		margin: 0 auto;
	}
}
