.home-contain {
	width: 100%;
	height: 100%;
	position: relative;

	div {
		width: 20rem;
		min-width: 240px;
		height: auto;
		padding: 1rem;
		
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}

	h1, 
	p {
		margin: 0 0 20px;
	}

	.nav,
	.sns {
		padding: 6px;
	}
}

.home-contain {
	/* background: linear-gradient(to right, #003973 0%, #e5e5be 100%); */
	background-color: #003973; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(right, #003973 0%, #e5e5be 100%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(right, #003973 0%, #e5e5be 100%); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(right, #003973 0%, #e5e5be 100%); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to right, #003973 0%, #e5e5be 100%); /* Standard syntax; must be last */
	
	color: #fff;

	div {
		background-color: rgba(97, 97, 97, 0.3);
		border-radius: 12px;
	}

	h1 {
		text-align: center;
	}

	.nav,
	.sns {
		background-color: rgba(154,154,154, 0.5);
		border-radius: 6px;

		text-align: left;

		font-size: 18px;

		&:hover {
			background: rgba(228,228,228,0.7);
			color: #9c9c9c;
			a {
				color: #333;
			}
		}

		a:hover {
			text-decoration: none;
		}
	}

	.nav {
		a:hover {
			text-decoration: underline;
		}
	}
	
	.sns a {
		font-size: 24px;
		vertical-align: middle;
	}

	.concat {
		margin: 0;
		text-align: right;
	}

	a {
		color: #fff;
	}
}