html {
	font-size: 14px  !important;
}
@media all and (min-width: 304px) {
	html {
		font-size: 14px  !important;
	}
}
@media all and (min-width: 376px) {
	html {
		font-size: 15px  !important;
	}
}
@media all and (min-width: 448px) {
	html {
		font-size: 16px  !important;
	}
}
@media all and (min-width: 520px) {
	html {
		font-size: 17px  !important;
	}
}
@media all and (min-width: 592px) {
	html {
		font-size: 18px  !important;
	}
}
@media all and (min-width: 664px) {
	html {
		font-size: 19px  !important;
	}
}
@media all and (min-width: 736px) {
	html {
		font-size: 20px  !important;
	}
}
@media all and (min-width: 808px) {
	html {
		font-size: 21px  !important;
	}
}
@media all and (min-width: 880px) {
	html {
		font-size: 22px  !important;
	}
}
@media all and (min-width: 952px) {
	html {
		font-size: 23px  !important;
	}
}
@media all and (min-width: 1024px) {
	html {
		font-size: 24px  !important;
	}
}
/* $start-font-size: 10px;
$min-width: 304px;
$offset-width: 72px;

@for $i from 1 to 10 {
    @media all and (min-width: calc($min-width + $offset-width * $i)) {
		html {
			font-size: calc($i + $start-font-size)  !important;
		}
	}
} */

* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.42857143  !important;
    color: #dddddd  !important;
    background-color: #30292B  !important;
}

a {
	text-decoration: none;
	color: #fff;
}