---
layout: default
---

<div class="blog-main">
	<article class="archive-list">
		<h1>Archives</h1>
		{% for post in site.posts %}
			{% capture ym %}{{ post.date | date: "%Y-%B" }}{% endcapture %}
			{% if yearmonth != ym %}
				{% assign yearmonth = ym %}
					<h2 id="{{ ym }}">{{ ym }}</h2>
			{% endif %}
			<p>
				<span class="post-type">{{ post.type }}</span>
				<a href="{{ post.url }}" title="{{ post.title }}" target="_self">{{ post.title }}</a>
			<p>	
		{% endfor %}
	</article>
	{% include blog-aside.html %}
</div>