---
layout: default
---

<div class="blog-main">
	<article class="tag-list">
		<h1>Authors</h1>
		<ul class="post-list">
			<li id="flex">
				<h2><i class="fa fa-user" aria-hidden="true"></i> Aidan</h2>
				<ul>
					<li class="tag-post-item">
						<span class="post-type">【转载】</span>
						<a href="/blog/post/" target="_self">都 2015 年了，CSS 怎么还是这么糟糕?</a>
						<span class="post-list-category">
							<span><i class="fa fa-th-list" aria-hidden="true"></i></span>
							<span class="post-category">
								<a  href="/blog/category" target="_self">web</a>
							</span>
						</span>
						<span class="post-list-tags">
							<span><i class="fa fa-tags" aria-hidden="true"></i></span>
							<span class="post-tag-container">
								<a href="/blog/tag" target="_self">flex</a>
								<a href="/blog/tag" target="_self">layout</a>
								<a href="/blog/tag" target="_self">layout</a>
								<a href="/blog/tag" target="_self">layout</a>
							</span>
						</span>
					</li>
					<li class="tag-post-item">
						<span class="post-type">【转载】</span><a href="/blog/post/" target="_self">JavaScript 跨域解决方案总结</a>
						<span class="post-list-category">
							<span><i class="fa fa-th-list" aria-hidden="true"></i></span>
							<span class="post-category">
								<a  href="/blog/category" target="_self">web</a>
							</span>
						</span>
							<span class="post-list-tags">
								<span><i class="fa fa-tags" aria-hidden="true"></i></span>
								<span class="post-tag-container">
									<a href="/blog/tag" target="_self">cookie</a>
									<a href="/blog/tag" target="_self">domain</a>
								</span>
							</span>
						
					</li>
					<li class="tag-post-item">
						<span class="post-type">【转载】</span><a href="/blog/post/" target="_self">PHP 格式化数组输出样式</a>
						<span class="post-list-category">
						<span><i class="fa fa-th-list" aria-hidden="true"></i></span>
						<span class="post-category">
							<a  href="/blog/category" target="_self">web</a>
						</span>
					</span>
							<span class="post-list-tags">
								<span><i class="fa fa-tags" aria-hidden="true"></i></span>
								<span class="post-tag-container">
									<a href="/blog/tag" target="_self">php</a>
								</span>
							</span>
						
					</li>
					<li class="tag-post-item">
						<span class="post-type">【转载】</span><a href="/blog/post/" target="_self">XSS 攻击与防御</a>
						<span class="post-list-category">
						<span><i class="fa fa-th-list" aria-hidden="true"></i></span>
						<span class="post-category">
							<a  href="/blog/category" target="_self">web</a>
						</span>
					</span>
							<span class="post-list-tags">
								<span><i class="fa fa-tags" aria-hidden="true"></i></span>
								<span class="post-tag-container">
									<a href="/blog/tag" target="_self">XSS</a>
								</span>
							</span>
						
					</li>
				</ul>
			</li>
		</ul>
	</article>
	<aside class="blog-aside">
		<section>
			<h1><a href="/blog/tag" target="_self">Tag</a></h1>
			<div class="post-tag-container">
				<a href="/blog/tag" target="_self">Aidan 随想录</a>
				<a href="/blog/tag" target="_self">译文</a>
				<a href="/blog/tag" target="_self">flex</a>
			</div>
		</section>
		<section>
			<h1><a href="/blog/category" target="_self">Category</a></h1>
			<div class="category-box">
				<a href="/blog/category" target="_self">web<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">html<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">css<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">javascript<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">react<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">react-native<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">node.js<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">mysql<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">数据结构<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">算法<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">设计模式<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">web 应用架构设计<span class="post-count">（999）</span></a>
				<a href="/blog/category" target="_self">随想录<span class="post-count">（234）</span></a>
				<a href="/blog/category" target="_self">系列专栏<span class="post-count">（234）</span></a>
			</div>
		</section>
		<section>
			<h1><a href="/blog/author" target="_self">Author</a></h1>
			<div class="author-box">
				<a href="/blog/author" target="_self">Aidan<span class="post-count">（234）</span></a>
			</div>
		</section>
		<section>
			<h1><a href="/blog/archive" target="_self">Archive</a></h1>
			<ul class="archive-box">
				<li>
					<h2><a href="/blog/archive" target="_self">2016<span class="post-count">（234）</span></a></h2>
					<div class="archive-mounth">
						<a href="/blog/archive" target="_self">September<span class="post-count">（234）</span></a>
						<a href="/blog/archive" target="_self">August<span class="post-count">（234）</span></a>
					</div>
				</li>
				<li>
					<h2><a href="/blog/archive" target="_self">2015<span class="post-count">（234）</span></a></h2>
					<div class="archive-mounth">
						<a href="/blog/archive" target="_self">September<span class="post-count">（234）</span></a>
						<a href="/blog/archive" target="_self">August<span class="post-count">（234）</span></a>
					</div>
				</li>
			</ul>
		</section>
	</aside>
</div>