---
layout: default
---

<div class="blog-main">
	<article class="tag-list">
		<h1>Authors</h1>
		<ul class="post-list">
			{% for author in site.data.authors %}
			{% if author.public %}
			<li id="{{ author.name }}">
				<h2><i class="fa fa-user" aria-hidden="true"></i> {{ author.name }}</h2>
				<ul>
					{% for post in site.posts %}
					<li class="tag-post-item">
						{% if post.author == author.name %}
						<span class="post-type">{{ post.type }}</span>
						<a href="{{ post.url }}" target="_self">{{ post.title }}</a>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</article>
	{% include blog-aside.html %}
</div>