---
layout: default
---

<div class="blog-main">
	<article>
		<ul>
			<li>
				
			</li>
		</ul>
	</article>
	<aside>
		<section class="blog-tag-list">
			<h1>Tag</h1>
			<div>
				<a href="/blog/tag.html" target="_self">Aidan 随想录</a>
				<a href="/blog/tag.html" target="_self">译文</a>
				<a href="/blog/tag.html" target="_self">flex</a>
			</div>
		</section>
		<section class="blog-category-list">
			<h1>Category</h1>
			<a href="/blog/category.html" target="_self">web 综合</a>
			<a href="/blog/category.html" target="_self">html</a>
			<a href="/blog/category.html" target="_self">css</a>
			<a href="/blog/category.html" target="_self">javascript</a>
			<a href="/blog/category.html" target="_self">node.js</a>
			<a href="/blog/category.html" target="_self">mysql</a>
			<a href="/blog/category.html" target="_self">react</a>
			<a href="/blog/category.html" target="_self">react-native</a>
			<a href="/blog/category.html" target="_self">other</a>
			<a href="/blog/category.html" target="_self">设计模式</a>
			<a href="/blog/category.html" target="_self">数据结构与算法</a>
		</section>
		<section class="blog-author-list">
			<h1>Author</h1>
		</section>
		<section class="blog-archive-list">
			<h1>Archive</h1>
		</section>
	</aside>
</div>