---
layout: default
---

<div class="blog-main">
	<article class="tag-list">
		<h1>Categorys</h1>
		<ul class="post-list">
			{% for category in site.data.categorys %}
			{% if category.public %}
			<li id="{{ category.name }}">
				<h2><i class="fa fa-th-list" aria-hidden="true"></i> {{ category.name }}</h2>
				<ul>
					{% for post in site.posts %}
					<li class="tag-post-item">
						{% if post.category == category.name %}
						<span class="post-type">{{ post.type }}</span>
						<a href="{{ post.url }}" target="_self">{{ post.title }}</a>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</article>
	{% include blog-aside.html %}
</div>