---
layout: default
---

<div class="blog-main">
	<article class="tag-list">
		<h1>Tags</h1>
		<ul class="post-list">
			{% for tag in site.tags %}
				<li id="{{ tag[0] }}">
					<h2><i class="fa fa-tags" aria-hidden="true"></i> {{ tag[0] }}</h2>
					<ul>
						{% for post in tag[1] %}
							<li class="tag-post-item">
								<span class="post-type">{{ post.type }}</span><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
								<!-- <span class="post-list-tags">
									<span><i class="fa fa-tags" aria-hidden="true"></i></span>
									<span class="post-tag-container">
										<a href="/blog/tag" target="_self">flex</a>
										<a href="/blog/tag" target="_self">layout</a>
										<a href="/blog/tag" target="_self">layout</a>
										<a href="/blog/tag" target="_self">layout</a>
									</span>
								</span> -->
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</article>
	{% include blog-aside.html %}
</div>